/**
flat colors from
https://www.w3schools.com/w3css/w3css_color_flat.asp
**/
.turquoise{color:#fff!important;background-color:#1abc9c!important}
.emerald{color:#fff!important;background-color:#2ecc71!important}
.peter-river{color:#fff!important;background-color:#3498db!important}
.amethyst{color:#fff!important;background-color:#9b59b6!important}
.wet-asphalt{color:#fff!important;background-color:#34495e!important}
.green-sea{color:#fff!important;background-color:#16a085!important}
.nephritis{color:#fff!important;background-color:#27ae60!important}
.belize-hole{color:#fff!important;background-color:#2980b9!important}
.wisteria{color:#fff!important;background-color:#8e44ad!important}
.midnight-blue{color:#fff!important;background-color:#2c3e50!important}
.sun-flower{color:#fff!important;background-color:#f1c40f!important}
.carrot{color:#fff!important;background-color:#e67e22!important}
.alizarin{color:#fff!important;background-color:#e74c3c!important}
.clouds{color:#000!important;background-color:#ecf0f1!important}
.concrete{color:#fff!important;background-color:#95a5a6!important}
.orange{color:#fff!important;background-color:#f39c12!important}
.pumpkin{color:#fff!important;background-color:#d35400!important}
.pomegranate{color:#fff!important;background-color:#c0392b!important}
.silver{color:#000!important;background-color:#bdc3c7!important}
.asbestos{color:#fff!important;background-color:#7f8c8d!important}
